<!doctype html>

<html>
  <head>
    <title>Flaskr</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <nav>
      <h1>My catalog</h1>
    
      <ul>
      {% for category in find_categories() %}
        <li><a href="{{ url_for('list_category', category_name=category.name) }}">{{ category.name }}</a></li>
      {% endfor %}
      </ul>      
      
      {% if session['name'] %}
        <p>Logged in as {{session['name']}}</p><a href="{{ url_for('gdisconnect') }}">Logout</a></p>
      {% else %}
        <button id="signinButton">Sign in with Google</button>
      {% endif %}
    
    </nav>
    <section class="content">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://apis.google.com/js/platform.js?onload=start" async defer></script>
  <script>
    $(document).ready (function(){
      setTimeout(function() {
        $(".alert").addClass('fade');
        $(".alert").alert('close');
      }, 2000);

      $('#signinButton').click(function() {
        auth2.grantOfflineAccess().then(onSuccess);
      });
    });

    function onSuccess(googleUser) {
      console.log(googleUser)
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        contentType: 'application/octet-stream; charset=utf-8',
        data: googleUser.code,
        success: function(result) {
          window.location.href = '/'
        }
      })
    }

    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '121181442952-bkcqi4jf24iibdaag9r4cg946220qagi.apps.googleusercontent.com',
          scope: 'openid'
        });
      });
    }

  </script>

</html>

